# ignore everything
*
#but don't ignore subdir so we can recurse into them
!*/

#but still ignore BTSycn special files
.SyncArchive
.SyncID

#gitignore excludes itself but let's be explicit
!.gitignore

#let's have readme's in the data dir source controlled (see syncingore)
!readme.*
